.title-page {
  -fx-alignment: center;
  -fx-font-size: 30px;
}

.menu-item {
  -fx-background-color: #7077A1;
  -fx-text-fill: white;
  -fx-font-size: 20px;
}

.menu-sub-item {
  -fx-background-color: #7077A1;
  -fx-text-fill: white;
  -fx-font-size: 18px;
  -fx-padding: 10 0 10 30;
}

.menu-sub-item:hover {
  -fx-background-color: rgb(96, 105, 158);
}

.card {
  -fx-background-color: #f0f0f0;
  -fx-border-color: #cccccc;
  -fx-border-width: 2px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-padding: 10px, 10px, 10px, 10px;
}