.label {
  -fx-font-size: 15px;
}

.text-field {
  -fx-font-size: 15px;
}

.button {
  -fx-font-size: 15px;
}

.combo-box {
  -fx-font-size: 15px;
  -fx-min-height: 35px;
}

.list-cell {
  -fx-alignment: center;
}

.title-header {
  -fx-font-size: 32px;
  -fx-text-fill: white;
}

.title-page {
  -fx-alignment: center;
  -fx-font-size: 30px;
}

.menu-item {
  -fx-background-color: #393E46;
  -fx-text-fill: white;
  -fx-font-size: 20px;
  -fx-padding: 10px 0px 10px 50px;
}

.menu-sub-item {
  -fx-background-color: #393E46;
  -fx-text-fill: #FAF0E6;
  -fx-font-size: 18px;
  -fx-padding: 15px 0px 15px 30px;
}

.menu-sub-item-on {
  -fx-background-color: #272a30;
}

.menu-sub-item:hover {
  -fx-background-color: #272a30;
}

.card {
  -fx-background-color: white;
  -fx-border-color: #cccccc;
  -fx-border-width: 2px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-padding: 10px, 10px, 10px, 10px;
}

.card-title {
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-text-fill: #4a4a4a;
}

.success-card {
  -fx-text-fill: white;
  -fx-background-color: #347928;
  -fx-font-weight: bold;
}

.warning-card {
  -fx-text-fill: white;
  -fx-background-color: #F9E400;
  -fx-font-weight: bold;
}

.error-card {
  -fx-text-fill: white;
  -fx-background-color: #E4003A;
  -fx-font-weight: bold;
}